# Week 1 Tutorial - Data Types and Basic Operations

For the first class, we will cover the following topics:

1. Python Programming in Biology 
2. Using Jupyter Notebook
3. Data Types and Basic Operations 
    * Numbers and arithmetic operations
    * Strings and string operations
    * Booleans, comparison operations, and logical operations 
    * Variables 
    * Lists, tuples, dictionaries, and sets 
    * Indexing and slicing of sequence data types 
    * Iterable data types 
6. Output and Input 
    * print()
    * input()

## Python Programming in Biology

Python is a versatile and widely used programming language, it can be used in a wide range of applications in biology research. Some of the common uses of Python in biology research include:


__NEED TO WRITE MORE OF THIS !!!__

## Using Jupyter Notebook 

__About Jupyter Notebook:__

Jupyter Notebook is an open-source web-based interactive computing environment that allows you to create, run, and share live code, equations, visualizations, and narrative text in a single document. It supports multiple programming languages, including Python, R, Julia, and many others. Jupyter Notebook is commonly used in data science, machine learning, scientific computing, and other domains for interactive data analysis, visualization, and exploration.

Jupyter Notebook provides a browser-based interface where you can create "notebooks" that contain code cells, text cells, and other types of cells. Code cells allow you to write and execute code directly in the notebook, while text cells allow you to write narrative text, equations, and markdown for documentation and explanations. This combination of code and text cells makes Jupyter Notebook an excellent tool for creating reproducible research, documenting data analysis workflows, and sharing interactive notebooks with others.

__Run your first code:__

Put the cursor in the box below and click the "run" button (or press `shift+enter` on your keyboard) to see the result.

In [6]:
print("Hello, world.")

Hello, world.

The above cell is a code cell. For all code cells, you can see a `In []` displaying before the cell. 

__Text cells:__

You can double click to edit the text cells, and click the "Run" button or press `shift+enter` to display the text cells properly. We're not going to cover how to write formatted texts in Jupyter Notebook in this course, our main purpose is to practise coding. 

__The two status of a cell:__

* When you're in the edit mode of a cell, the cell will show a __green__ border. You can edit the contents of the cell.
* When you're in the command mode of a cell, the cell will show a __blue__ border. You can perform various operations on the notebook, such as adding cells , deleting cells , and changing cell types. 

__Shortcuts:__

When you're in the edit mode:
* Press `shift+enter` to run the cell. 
* Press `esc` to go to the command mode.

When you're in the command mode:
* Press `b` to add a new cell.
* Press `d` twice to delete the cell.
* Press `y` to change the cell type to code.
* Press `m` to change the cell type to text.
* Press `enter` to go to the edit mode.

__Exercise: play with the above shortcuts, create some new cells, delete some existing cells, and changing between cell types.__

## Data Types and Basic Operations 
### Integers

In Python, integers (int) are a built-in data type that represents whole numbers without any fractional or decimal parts. Integers can be positive, negative, or zero, and can have an unlimited range of values, limited only by the available system memory.

You can define an integer variable in Python by assigning a whole number to a variable name. For example:

In [2]:
x = 5
y = -10

### Floating-point numbers 

Floating-point numbers in Python are a type of numerical data that can represent real numbers with decimal values. They are implemented as a built-in data type called "float" in Python and are used for performing arithmetic operations with real numbers that require precision beyond what can be achieved with integers.

In Python, you can create a floating-point number by simply including a decimal point in a numeric value. For example:

In [7]:
a = 3.14 
b = 2.0

### Arithmetic operations 

Arithmetic operations can be performed on integers and floating-point numbers in Python using the standard arithmetic operators.

In [4]:
# addition 
10+3

13

In [5]:
# substraction 
10-3

7

In [6]:
# multiplication
10*3

30

In [7]:
# division 
10/3

3.3333333333333335

In [10]:
# exponentiation
10**3

1000

In [11]:
# modulo operator 
10%3

1

In [12]:
# floor division operator 
10//3

3

In [49]:
# calculate the quotient and remainder
divmod(17,5)

(3, 2)

You may think we are never going to use these functions... However, for DNA sequences we often care about the multiples of three:

In [50]:
divmod(1464, 3)

(488, 0)

You can perform arithmetic operations on floating-point numbers too, try it yourself:

In [31]:
# addition

In [43]:
# substraction

In [33]:
# multiplication

In [34]:
# division

In [35]:
# exponentiation

In [36]:
# modulo operator

In [37]:
# floor division operator

__When you perform an arithmetic operation on floating-point numbers, what is the type of the result number?__

It will a floating-point number. 

__Limited precision of floating-point numbers:__

Floating-point numbers in Python, as well as in most other programming languages, have inherent limitations due to the way they are represented in computer hardware. Floating-point numbers are represented with a fixed number of bits, which limits their precision. As a result, some numbers cannot be exactly represented, and rounding errors can occur in arithmetic operations. For example:

In [40]:
0.1+0.2

0.30000000000000004

In [42]:
0.3-0.1

0.19999999999999998

__What would you get if you calculate an integer with a floating-point number?__ Please try it yourself:

In [16]:
# please do some calculations on integers with floating-point numbers

The result will be floating-point number, even if it is a whole number.

### Strings 

In Python, a string is a sequence of characters enclosed in either single quotes '' or double quotes "". Strings are one of the built-in data types in Python and are used to represent text and manipulate it in various ways.

In [44]:
"Hello, world!"

'Hello, world!'

In [46]:
'Hello, world!'

'Hello, world!'

In [47]:
"My name is ..."

'My name is ...'

You can put double quotes in single quotes and vice versa.

In [10]:
"It's Harvey's birthday today."

It's Harvey's birthday today.

In [14]:
'It's Harvey's birthday today.'

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2937468503.py, line 1)

In [13]:
"I was "surprised" when I saw her."

SyntaxError: invalid syntax (4163309254.py, line 1)

In [15]:
'I was "surprised" when I saw her.'

'I was "surprised" when I saw her.'

### String Operations 

__Concatemation__

Strings can be concatenated using the `+` operator, which combines two or more strings into a single string.

In [57]:
"Hello," + "world!"

'Hello,world!'

When we use `+` operator to concatenate strings, it doesn't provide the space character in between so we need to add it manually.

In [58]:
# add the space
"Hello, " + "world!"

'Hello, world!'

In [53]:
"Hi, " + "my name is ..."

'Hi, my name is ...'

In [8]:
"I have " + 6 + "apples."

TypeError: can only concatenate str (not "int") to str

From the error message we can also see that we can't concatenate strings with integers using the `+` operator.

__Repetition__

Strings can be repeated using the `*` operator, which creates multiple copies of a string.

In [55]:
"Hello!" * 3

'Hello!Hello!Hello!'

In [56]:
"Let's go!" * 2

"Let's go!Let's go!"

__Converting cases and replacing substrings__

In [61]:
"The weather is good today!".upper()

'THE WEATHER IS GOOD TODAY!'

In [62]:
"LOL".lower()

'lol'

In [63]:
"My name is Jiajia.".replace("Jiajia", "your name")

'My name is your name.'

### Booleans 

Booleans in Python are a data type that can have one of two possible values: True or False. 

They are commonly used in conditional statements, comparisons, and logical operations. Booleans in Python are a subclass of integers, with True representing the integer 1 and False representing the integer 0.

### Comparison Operations

Comparison operations, also known as relational operators, are used in Python to compare values and determine their relationship. They return a boolean value, either TRUE or FALSE, depending on whether the comparison is true or false. 

__Equality: `==`__

In [2]:
1 == 1

True

In [3]:
1.0 == 1

True

In [4]:
1 == 3

False

In [5]:
66 == "66"

False

In [6]:
"Blue" == "Red"

False

In [7]:
"Blue" == 'Blue'

True

Think of some examples yourself and try the equal to `==` operator:

__Inequality: `!=`__

In [17]:
1 != 1

False

In [6]:
1 != 2.0

True

In [19]:
66 != "66"

True

In [20]:
"Blue" != "Red"

True

In [21]:
"Blue" != "Blue"

False

Think of some examples yourself and try the not equal to `!=` operator:

__Greater than: `>`__

In [3]:
1 > 2

False

In [23]:
3 > 2

True

Comparing an integer with a string:

In [24]:
66 > "55"

TypeError: '>' not supported between instances of 'int' and 'str'

Turns out we can't compare integers with strings.

Comparing a string with a string:

In [25]:
"123" > "100"

True

In [29]:
"10000" > "101"

False

In [27]:
"apple" > "banana"

False

In [28]:
"appleapple" > "banana"

False

Python compares strings lexicographically based on their ASCII values. The comparison starts with the first character of the strings and proceeds to subsequent characters until a difference is found ot until the end of one of the strings is reached.

In [4]:
"aa" > "aaa"

False

If there is no difference until the end of one string, it will compare the lengths.

In [5]:
"1231" > "123"

True

Think of some examples yourself and try the greater than `>` operator:

__Less than:__ `<` same usage as above. 

Think of some examples yourself and try the less than `<` operator:

__Greater than or equal to:__ `>=`

In [7]:
2.0 >= 2

True

In [9]:
2.0 >= 1

True

In [8]:
2.0 >= 3.0

False

In [10]:
66 >= "66"

TypeError: '>=' not supported between instances of 'int' and 'str'

In [11]:
"abc" >= "ab"

True

In [15]:
"abc" >= "abcf"

False

Think of some examples yourself and try the greater than or equal to `>=` operator:

__Less than or equal to:__ `<=`

Think of some examples yourself and try the less than or equal to `<=` operator:

__Chain multiple comparisons together:__

In [16]:
1 < 2 < 3

True

In [17]:
1.0 < 1.0 < 2

False

In [18]:
"123" < "1234" < "12345"

True

Think of some examples yourself and try to chain multiple comparisons together:

### Logical Operations 

Logical operations are used to combine or modify boolean values. There are three primary logical operators `and`, `or`, and `not`. They are used to perform conjunction, disjunction, and negation operations, respectively.

__`and` (conjunction):__ 

You have to satisfy both conditions to be True.

In [27]:
True and True

True

In [28]:
True and False

False

In [29]:
False and False

False

__`or` (disjunction):__

You only need to meet one of the two conditions to be True.

In [35]:
True or True

True

In [31]:
True or False

True

In [32]:
False or False

False

__`not` (negation):__

In [33]:
not True

False

In [34]:
not False

True

### Variables 

In Python, variables are used to store values or references to objects, making it easier to use, manipulate, and reference data throughout your code. Variables can store data of various types, such as integers, floats, strings, lists, tuples, dictionaries, and more. 

To create a variable in Python, we use the assignment operator `=` to assign a value to a variable name. 

The variable name must follow the naming conventions:
* It should start with a letter (a-z or A-Z) or an underscore (`_`).
* No restriction on the length of the variable name.
* It can consist of letters, digits, and underscores. 
* It cannot contain dashes or hyphens (`-`). 

For example:

In [18]:
age = 26

In [19]:
age

26

In [20]:
name = "Jiajia"

In [21]:
name

'Jiajia'

In [22]:
greeting = "Hello, world!"

In [23]:
greeting

'Hello, world!'

__Using variables in expressiong:__

We can use variables in expressions and pass them as arguments to functions or methods.

In [26]:
price = 26.99
total_price = price * 1.1 # 10% GST

In [27]:
total_price

29.689

__Reassigning a value:__

We can also reassign a value to a variable name.

In [31]:
age = 26
age = "27"

In [32]:
age

'27'

### Lists 

In Python, a list is a mutable, ordered collection of items. Lists can contain items of different data types, including other lists. They are created using square brackets `[]` and items are separated by commas. 

__What does mutable mean?__

Mutable means you can edit the list after you have created it. Immutable data type means you cannot edit it once it has been  created.

__What does ordered collection of items mean?__

An ordered collection of items refers to a data structure where the items are stored in a specific order or sequence. The order of the items is maintained, and each item has a unique index based on its position in the collection. For example, you can access a item by telling python it is the first/second/third in the list. We will cover how to access the items in a list later. 

__Create a list with integers:__

In [36]:
numbers = [1, 2, 3, 4, 5]

In [37]:
numbers

[1, 2, 3, 4, 5]

__Create a list with mixed data types:__

In [38]:
mixed_list = [1, "Hi", 99.99, True]

In [39]:
mixed_list

[1, 'Hi', 99.99, True]

__Empty list:__

You can also create a empty list and add the elements later.

In [40]:
empty_list = []

In [41]:
empty_list

[]

Append an item to the empty list:

In [42]:
empty_list.append("apple")

In [43]:
empty_list

['apple']

### Tuples

A tuple is an immutable, ordered collection of items. Tuples can contain elements of different data types, including other tuples and lists. Tuples are similar to lists, but unlike lists, their elements cannot be changed once they are created. Tuples are created using parentheses `()` and items are separated by commas.

__Create a tuple with integers:__

In [44]:
numbers = (1, 2, 3, 4, 5)

In [45]:
numbers

(1, 2, 3, 4, 5)

__Create a tuple with mixed data types:__

In [46]:
mixed_tuple = (1, "Hello", 2.33, False)

In [47]:
mixed_tuple

(1, 'Hello', 2.33, False)

__You can also create an empty tuple:__

But can you append data to it?

In [48]:
empty_tuple = ()

In [49]:
empty_tuple

()

In [50]:
empty_tuple.append(66)

AttributeError: 'tuple' object has no attribute 'append'

Like we mentioned before, tuples are immutable so we can't add elements to it once it has been created.

### Dictionaries 

A dictionary is a mutable, unordered collection of key-value pairs, where each key is unique. Dictionaries are created using curly brackets `{}` with key-value pairs separated by commas and a colon separates each key from its associated value. 

__Creating a dictionary:__

You can create a dictionary in this way:

In [53]:
person = {"name": "John", "age": 30, "city": "New York"}

In [59]:
person

{'name': 'John', 'age': 30, 'city': 'New York'}

So, the item before the colon is key, the item after the colon is value. name is the key and John is the value of the key. 

Or you can write a dictionary in this way:

In [2]:
movie = {
    "name": "Inception",
    "year": 2010,
    "review": 8.8
}

In [58]:
movie

{'name': 'Inception', 'year': 2010, 'review': 4.8}

The second way is preferred because when you have many key-value pairs, the second one can be easily read. 

__Creating a dictionary with mixed data types:__ 

* Both keys and values can contain different types of data. 
* Keys can contain strings, integers, floats, booleans, and tuples as data types. __However__, it is not recommended to use other data types of keys than strings. It can make your code harder to read and maintain. 
* Values have no restrictions on data types. 

Here is an example dictionary containing values of more complexed data types.

In [5]:
company = {
    'name': 'TechCorp',
    'founded': 2005,
    'employees': [
        {'id': 1, 'name': 'John', 'position': 'CEO'},
        {'id': 2, 'name': 'Jane', 'position': 'CTO'},
        {'id': 3, 'name': 'Bob', 'position': 'Software Engineer'}
    ],
    'locations': [
        {'city': 'New York', 'state': 'NY'},
        {'city': 'San Francisco', 'state': 'CA'}
    ],
    'revenue': 25000000.0
}

In [8]:
company

{'name': 'TechCorp',
 'founded': 2005,
 'employees': [{'id': 1, 'name': 'John', 'position': 'CEO'},
  {'id': 2, 'name': 'Jane', 'position': 'CTO'},
  {'id': 3, 'name': 'Bob', 'position': 'Software Engineer'}],
 'locations': [{'city': 'New York', 'state': 'NY'},
  {'city': 'San Francisco', 'state': 'CA'}],
 'revenue': 25000000.0}

__Creating an empty directory and add data later:__

Dictionary is a mutable data type, so you can change and add data after it has been created.

In [6]:
empty_dict = {}

In [7]:
empty_dict

{}

In [12]:
empty_dict["key1"] = "to_my_home"
empty_dict["key2"] = "to_the_office"
empty_dict["key3"] = "bike"

In [13]:
empty_dict

{'key1': 'to_my_home', 'key2': 'to_the_office', 'key3': 'bike'}

### Sets 

In Python, a set is an unordered collection of unique items. Sets are mutable. 

Sets are particularly useful when you need to store or operate on a collection of distinct elements, such as performing set operations like union, intersection, and difference.

To create a set, you can use curly braces {} with comma-separated values, or use the set() constructor with an iterable (e.g., list or tuple) as an argument.

__Creating a set:__

In [14]:
my_set = {1, 2, 3, 4, 5}

In [15]:
my_set

{1, 2, 3, 4, 5}

__Creating a set with mixed values:__

Sets can contain different data types, but the elements must be hashable (immutable) data types like strings, numbers (integers and floats), and tuples containing only hashable elements. Lists and dictionaries cannot be elements of a set.

In [16]:
mixed_set = {42, 'hello', 3.14, ('a', 'b', 'c'), True}

In [17]:
mixed_set

{('a', 'b', 'c'), 3.14, 42, True, 'hello'}

Set is a less used data type compares to other data types, so we will not cover too much in this class. 

### Indexing

Indexing refers to access individual elements of a sequence data type (strings, lists, and tuples) based on their position. 

In Python, indexing is zero-based, meaning the first element has an index of 0, the second element has an index of 1, and so on. 

__Indexing with strings:__

In [33]:
gene = "ATGCGTAAGCTTAGACCGATCATGCCGCTAGGCTACGAAGTCCATAG"

In [35]:
first_base = gene[0]
first_base

'A'

In [37]:
second_base = gene[1]
second_base

'T'

__Negative indexing:__

Negative indexing can be used to access elements from the end of the sequence. For example, an index of -1 refers to the last element, -2 refers to the second-to-last element, and so on.

In [39]:
last_base = gene[-1]
last_base

'G'

In [41]:
second_to_last_base = gene[-2]
second_to_last_base

'A'

__Indexing with lists:__

Indexing with lists is similar with strings.

In [42]:
amino_acids = ['Alanine', 'Arginine', 'Asparagine', 'Aspartic acid', 'Cysteine',
               'Glutamine', 'Glutamic acid', 'Glycine', 'Histidine', 'Isoleucine',
               'Leucine', 'Lysine', 'Methionine', 'Phenylalanine', 'Proline',
               'Serine', 'Threonine', 'Tryptophan', 'Tyrosine', 'Valine']

To access the first amino acid in the list:

To access the second amino acid in the list:

To access the last amino acid in the list:

To access the second to last amino acid in the list:

__Indexing with tuples:__

Indexing with tuples is similar with strings and lists.

In [ ]:
dna_bases = ('Adenine', 'Thymine', 'Cytosine', 'Guanine')

To access the first DNA base in the tuple:

To access the second DNA base in the tuple:

To access the last DNA base in the tuple:

To access the second to last DNA base in the tuple:

### Slicing 

Slicing is a technique in Python that allows you to extract a portion (a continuous subsequence) of a sequence data type like strings, list, and tuples. Slicing uses the colon `:` operator to indicate the start and end position of the slice. 

__The basic syntax for slicing is:__

In [45]:
sequence[start:end]

NameError: name 'sequence' is not defined

Where `start` is the index of the first element you want to __include__ in your slice, and `end` is the first element you want to __exclude__ from the slice. 

The resulting slice will include elements from the `start` index (inclusive) to the `end` index (exclusive). 

__Slicing with strings:__

Let's continue to use the string we created the last time.

In [46]:
gene

'ATGCGTAAGCTTAGACCGATCATGCCGCTAGGCTACGAAGTCCATAG'

To get the first 5 bases from the string:

In [47]:
gene[0:5]

'ATGCG'

To get the 5th to 13rd bases from the string:

In [48]:
gene[4:13]

'GTAAGCTTA'

You can also leave the start or end index blank, it will slice from the beginning to the end index or from the start index to the end.

To get the slice from the beginning to the 11th base:

In [49]:
gene[:11]

'ATGCGTAAGCT'

To get the slice from the 18th base to the end:

In [50]:
gene[17:]

'GATCATGCCGCTAGGCTACGAAGTCCATAG'

__Negative indexing:__

We can also use negative indexing when slicing. Negative indexing allows you to reference elements from the end of the sequence. When using negative indexing in slices, -1 refers to the last elements, -2 refers to the second-to-last element, and so on. 

To get the slice from the last 6th element to the second-to-last element of the string:

In [51]:
gene[-6:-1]

'CCATA'

To get the last 5 elements of the string:

In [52]:
gene[-5:]

'CATAG'

To get the slice from the beginning to the 11th-to-last element of the string:

In [54]:
gene[:-10]

'ATGCGTAAGCTTAGACCGATCATGCCGCTAGGCTACG'

__Slicing with lists:__

Slicing lists is similar to how we slice strings. We will use the amino_acids list we created before for practising.

In [55]:
amino_acids

['Alanine',
 'Arginine',
 'Asparagine',
 'Aspartic acid',
 'Cysteine',
 'Glutamine',
 'Glutamic acid',
 'Glycine',
 'Histidine',
 'Isoleucine',
 'Leucine',
 'Lysine',
 'Methionine',
 'Phenylalanine',
 'Proline',
 'Serine',
 'Threonine',
 'Tryptophan',
 'Tyrosine',
 'Valine']

Slicing the first 3 amino acids from the list:

Slicing the 13rd to 16th amino acids from the list:

There are also some special characters ... like the newline character (\n) ... that you can put into a string.

In [ ]:
"Line 1.\nLine 2."

We can also represent tabs in this format

In [ ]:
"Column_1.\tColumn_2."

... which doesn't show up properly here, but it will later when we talk about the BUILT-IN functions in Python

In [ ]:
float('27')

Write code to convert the string "42.0" to an integer.

### Assigning values and strings to objects (variables)
Python is similar to bash and we use the "=" to assign a value to a variable which we can manipulate further

In [ ]:
x=5

Typing the object name works but we can also use the function print

In [ ]:
print(x)

Print is a powerful function because we can very easily add text to our variable.

In [ ]:
print("Gene_X is" + x + "basepairs long")

But we got an error here, why? 

The error message says "can only concatenate str (not int) to str", because our variable x is an integer. We can check the data type of our variable by using the type() function.

In [ ]:
type(x)

So, do we need to transform all of our data to the same data type before using the print() funtion?

No. The print() is a powerful function and it has the ability to concatenate different types of data together.

To do that, write the print function in this way (where we use comma to separate each variable):

In [ ]:
print("Gene_X is", x, "basepairs long.")

### Lets get back to the **\n** (end of line) and **\t** (tab)  

We can get these to display correctly using our fuction print().

Say we want to print three things, the length of our gene (x), the number of amino acids, and a BOOLEAN TRUE/FALSE to tell us if this gene is completely in-frame

In [ ]:
GeneX="atgatcatcgatcgtagctgggctcttag"
len(GeneX)

In [ ]:
x=len(GeneX)

In [ ]:
print(x)

OK, now I want to calculate how many Amino Acids my gene GeneX (represented here as string) has

In [ ]:
len(GeneX)/3

Next, I want to return TRUE if my GeneX has a perfect number of bases (i.e. I am in-frame) OR return FALSE if my gene is out of frame

In [ ]:
len(GeneX)%3

In [ ]:
len(GeneX)%3 == 0

Now I want to put this all together and print it to a tab delimited file. 

I can use my variable x which I created above OR I can just evaluate the expression inside the print() function. Python doesn't really care.

In [ ]:
print("Gene_1\t", x, "\t", x/3, "\t", len(GeneX)%3==0)

In [ ]:
print("Gene_1\t", x, "\t", x//3, "\t", len(GeneX)%3==0)

Essentially the Print function is a very valuable tool that allows you to output data into nice tab delmited files, or alternatively print onto a new line

In [ ]:
print("Gene_1\n", len(GeneX), "\n", len(GeneX)//3, "\n", len(GeneX)%3==0)

Let's make a tab delimited header and add this to our print statement above

In [ ]:
header="Gene_name\tLength\tAA_length\tInFrame\n"
print(header, "Gene_1\t", x, "\t", x//3, "\t", len(GeneX)%3==0)